doctype html
html
  head
    title
      | The title
    link(
      rel="stylesheet"
      href=`/${staticDirectoryName}/${cssBundleFileName}`
    )
  body
    #root
    script(src=`/${staticDirectoryName}/${jsBundleFileName}`)
