doctype html
html
  head
    title
      | The title
    if process.env.NODE_ENV === "production"
      link(
        rel="stylesheet"
        href=`/${staticDirectoryName}/${cssBundleFileName}`
      )
  body
    #root
    script(src=`/${staticDirectoryName}/${jsBundleFileName}`)
